*{
	margin: 0px;
	padding: 0px;
}

.main{
	width: 960px;
	height: 800px;
	margin: 0px auto;
	background-color: #1abc9c;
}

.header{
	height: 100px;
	background-image: linear-gradient( 243deg,  rgba(255,253,221,1) 13.4%, rgba(248,215,215,1) 82.1% );
}

.logo{
	float: left;
    padding: 35px 0px 0px 22px;
    font-size: 20px;
    border: 1px solid black;
    text-transform: uppercase;
}

/*.logo p{
	font-size: 15px;
}*/

.main_menu{
	float: right;
}

.main_menu ul{
	list-style: none;
	display: block;
}
.main_menu ul li{
	display: inline-block;
	padding: 10px;
}
.main_menu ul li a:hover{
	outline:2px solid #fff;
	outline-offset:-8px;
.main_menu ul li a{
	text-decoration: none;
	color: #fff;
}

.menu{
	height: 60px;
	background-color: #3498db;
}

.banner{
	height: 300px;
	background-color: #9b59b6;
}

.container{
	height: 300px;
	background-color: #8e44ad;
}

.footer{
	height: 40px;
	background-color: #34495e;
}
